/* Classes */

.scoreBox {
    width:75%;
    margin:0 auto;
    text-align:center;
}

.playerScoreCount {
    float:left;
    width: 47%;
    display:inline-block;
    background-color:#888888;
    border-radius:5px;
    padding:10px;
    margin-bottom: 10px;
    margin-right:1px;
    margin-left:1px;
}

.computerScoreCount {
    float: left;
    width: 47%;
    display:inline-block;
    background-color:#888888;
    border-radius:5px;
    padding:10px;
    margin-left: 1px;
    margin-right: 1px;
}

/* Media Queries */

@media screen and (max-width: 1332px) {
    .playerScoreCount {
        width: 100%;
    }
    .computerScoreCount {
        width: 100%;
    }

}